DTSACT-LAWSService,act_12_services
DTSAEP-UserIdCreationWebServices,act_12_services
DTSEZD-SOWebServices,smartoffice_service_grp
DTSGACA-WebService,gacontract_browser
DTSGOL-GlobalWorksService,global_works_group
DTSGOL-VUEAppointmentServices,VUE_LAWS_Members
DTSRST-SMTNAVService,Smartoffice_Integration
